# Python artifacts
*.py[cod]
__pycache__
.cache

# devops artifacts
.eggs
*.egg-info
devops/*.retry
.pytest_cache

# project management
.vagrant
.coverage
.coverage-report

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# IDEs
.idea
*.swp
*~
*.bat
.TAGS

# IPyNB/Jupyter history
.ipynb_checkpoints
