# Python
__pycache__/
__pypackages__/
__pycache__
*.py[cod]
*$py.class
.cache
.pytest_cache

# devops artifacts
.eggs
*.egg-info
devops/*.retry
build/
dist/
.tox
.coverage
coverage.xml

# IDEs
.idea
*.swp
*~
.vscode
*.bat
.TAGS

# IPyNB/Jupyter history
.ipynb_checkpoints

# DB
*.db
*.db-journal
