pip==9.0.1
jupyter==1.0.0
matplotlib==1.5.3
pandas==0.19.1
scipy==0.18.1
scikit-learn==0.18.1
simpy==3.0.10
# substitute of PyYaml 'cause it fixes "sequence as a key of a mapping" problem
ruamel.yaml==0.13.14
ipython==4.2.1
